@import "base";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Roboto:400');

@include button();
@include grid();
@font-face {
  font-family: 'Seagram';
  src: url('../font/seagram_tfb/Seagramtfb.ttf');
}
*{
  margin: auto;
  left:0;
  right: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.logo-font{
  font-family: 'seagram', sans-serif;
  font-size: 30px;
}
.border-circle-white{
  border-radius: 100%;
  border: solid $white 2px;
}
.center_element{
  margin:auto;
  top: 0;
  bottom:0;
  left:0;
  right: 0;
  height:250px;
}
.pos-relative{
  position: relative;
}
.pos-absolute{
  position: absolute;
}

.background_cover{
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}
.f-c-white{
  color: $white;
}
.btn-orange{
  background-color: $orange;
}
._button-project._button-3d-project {
  border-radius: 5px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border-bottom: 5px solid $orange-darker;
  text-shadow: 0px -2px $orange-darker;
}
._button-project {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border: none;
  padding: 0.85em 1em;
  font-size: 0.9rem;
  border-radius: 5px;
  outline: 0;
  text-decoration: none;
  background-color: $orange;
  color: $white;
}
._button-project:hover {
  color: #ffffff;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  background-color: $orange;
}
._button-3d-project {
  color: #FFF;
  width: 150px;
}
.hr-colored{
  display: block ;
  height: 1px ;
  border: 0 ;
  border-top: 3px solid $orange ;
  margin: 0 auto;
  padding: 0 ;
}
.hr-small-center{
  width: 60px;
}
.six-grid-border{
  div:nth-child(2){
    border: solid $light-grey 1px;
    border-top: 0;
  }
  div:nth-child(1), div:nth-child(3){
    border-bottom: solid $light-grey 1px;
  }
  div:nth-child(5){
    border-left: solid $light-grey 1px;
    border-right: solid $light-grey 1px;
  }
}
.fa:before {
  background-image:  -webkit-gradient(linear, left top, right top, color-stop(.5, $blue-gradien-start), color-stop(1, $blue-gradien-end));
  color: transparent;
  -webkit-background-clip: text;
}
._box {
  //border: 1px solid red;
}

.font-robot{
  font-family: 'Roboto', sans-serif;
}
.font-playfair-display{
  font-family: 'Playfair Display', serif;
}
.img-circle {
  border-radius: 50%;
}
h2{
  font-size: 30px;
}
.bg-light-grey{
  background-color: $light-grey;
}
.header{
  background-color:#24164c;
}

.header ul {
  list-style:none;
  a {
    text-decoration: none;
    color:#FFF;
    margin: 0 15px;
    &:hover {
      color:#F49224;
      transition: 0.5s;
    }
  }

}


.footer{
  width:100%;
  background-color:#24164c;
  height: 75px;
}

.footer p{
  line-height: 4.5em;
  color: #FFF;
  float: right;
  margin-right:150px;
}

.contactForm{
  padding: 7%;
}

.contactForm p{
  margin-left: 34%;
  text-align: left;
  padding: 5px;
}

._input{
  display: block;
  width: 30%;
  height: 20px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

._input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

._content{
  display: block;
  width: 30%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

._content:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

._button{
  height:35px;
  display: block;
  width: 30%;
  color: #FFF;
  background-color: #4D0577;
  border: none;
}

._button:hover{
  transition: 0.5s;
  background-color: #4A148C;
}
.show{
  display: block;
}


.header .mobile-menu {
  background-color:#24164c;
  right: 15px;
  width: 100%;
  position: absolute;
  z-index: 10;
  a{
    padding: 10px;
  }
  li, a{
    margin: 0;
    display: block;
    width: 100%;
    &:hover{
      background-color: #4D0577;
    }
  }

}
