@import "base";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Roboto:400');

@include button();
@include grid();
*{
  box-sizing: border-box;
}
.six-grid-border{
  div:nth-child(2){
    border: solid #ebebeb 1px;
    border-top: 0;
  }
  div:nth-child(1), div:nth-child(3){
    border-bottom: solid #ebebeb 1px;
  }
  div:nth-child(5){
    border-left: solid #ebebeb 1px;
    border-right: solid #ebebeb 1px;
  }
}
.fa:before {
  background-image:  -webkit-gradient(linear, left top, right top, color-stop(.5, #00dfd0), color-stop(1, #49a5cc));
  color: transparent;
  -webkit-background-clip: text;
}
._box {
  //border: 1px solid red;
}

.font-robot{
  font-family: 'Roboto', sans-serif;
}
.font-playfair-display{
  font-family: 'Playfair Display', serif;
}
.img-circle {
  border-radius: 50%;
}
h2{
  font-size: 30px;
}
.bg-light-grey{
  background-color: #ECEFF1;
}